<h1>お気に入り一覧</h1>

<main>
<% @favorite.each do |favorite| %>
  <table class="contents">
    <tbody class="content">
      <tr>
        <tr><td><%= favorite.user.name %></td></tr>
        <tr><td><%= favorite.photo.content %></td></tr>
        <tr><td><%= image_tag favorite.photo.image.url if favorite.photo.image && favorite.photo.image.url %></td></tr>
        <tr><td><%= favorite.user.updated_at.strftime('%Y/%m/%d %H:%M') %></td></tr>
        <td><%= link_to 'Show', photo_path(favorite.photo.id) %></td>
      </tr>
    </tbody>
  </table>
<% end %>
</main>

