
<button type="button" class="btn btn-light"><%= link_to 'New Photo', new_photo_path %></button>

<main>
<% @photos.each do |photo| %>
  <table class="conntents">
    <tbody class="content">
    <tr><th><%= photo.user.name %></th></tr>
    <tr><td><%= photo.content %></td></tr>
    <tr><td><%= image_tag photo.image.url if photo.image && photo.image.url %></td></tr>
    <tr><td><%= photo.updated_at.strftime('%Y/%m/%d %H:%M') %></td></tr>
    <tr>
      <td colspan="3"><%= link_to 'Show', photo %>
      <% if photo.user_id == current_user.id %>
        <%= link_to 'Edit', edit_photo_path(photo) %>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
</main>