<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSharingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <button type="button" class="btn btn-light"><%= link_to "Profile", user_path(current_user.id) %></button>
        <button type="button" class="btn btn-light"><%= link_to "Index", photos_path %></button>
        <button type="button" class="btn btn-light"><%= link_to "Log out", session_path(current_user.id), method: :delete %></button>
      <% else %>
        <button type="button" class="btn btn-light"><%= link_to "Sign up", new_user_path %></button>
        <button type="button" class="btn btn-light"><%= link_to "Log in", new_session_path %></button>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>

    <footer>
      <p>photo_sharing_app</p>
    </footer>
  </body>
</html>
